#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	font-size: 20px;
}

li {
	display: inline;
}

body {
	background-image: url(https://www.bremerhaven.de/sixcms/media.php/bhv2016.a.93.de/thumbnail/AlterHafen1928.337990.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Arial;
}

p {
	font-size: 16px;
}
